
#sidebar{
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: #eee;
    }   
}

#sidebar {
    transition: background-color 1s;
    .discover-item {
        display: flex;
        align-items: center;
        margin-right: 8px;
        margin-bottom: 12px;
        padding: 3px 10px;
        max-width: 100%;
        width: fit-content;
        height: 24px;
        border: 1px solid #16182333;
        border-radius: 12px;
        font-size: 14px;
        transition: background 200ms ease-in-out 0s;
        i {
            margin-right: 8px;
            color: #2c2e38;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #161823bf;
        }
        &:hover {
            background-color: #16182308;
        }
    }
    .description-item {
        font-size: 12px;
        font-weight: 600;
        margin-right: 6px;
        margin-top: 5px;
        color: #16182380;
    }
    .description-item-hover:hover {
        text-decoration: underline;

    }

    #more-container {

        #more {
            visibility: hidden;
            opacity: 0;
            bottom: 30px;
            left: 0;
            width: 200px;
            padding: 15px 16px 20px;
            transition: all ease .2s;
            p {
                transition: color ease .2s;
                &:hover {
                    color: red;
                }
            }
            ::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 10px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #fff;
            }
        }

        &:hover #more {
            visibility: visible;
            opacity: 1;
        }
    }

}

.sidebar-item {
    width: 100%;
    padding: 10px 12px;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 3px;
}

.sidebar-item-hover {
    transition: all ease .6 s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.vertical-line {
    margin: 8px 0;
    width: calc(100% - 16px);
    height: 1px;
    background-color: rgba(0, 0, 0, 0.06);
}


.active {
    color: #fe2c55;
}

